#cart-icon{
    width: 40px;
    display: inline-block;
    margin-left: 15px;
}

#cart-total{
    display: block;
    text-align: center;
    color: #fff;
    background-color: red;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
}

#bg-color{
    background-color: black;
}

#brand-color{
    color:white;
}


.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: black;
    border:none;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color:white;
    margin-bottom: 5px;
}
#drop-color{
    background-color: blue;
}

#thumbnail{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

#product{
	border-radius: 0 0 4px 4px;
}

#cart-row{
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}

#row-image{
    width: 100px;
}

#quantity{
    display: inline-block;
    font-weight: 500;
    padding-right: 10px;
}

#chg-quantity{
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition:.1s;
}

#form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

#hidden{
	display: none!important;
}